*
{
    font-family: arial;
}

body
{
    background-color: blanchedalmond;
}

header, footer
{
    background-color: sienna;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 130%;
}

#lewa
{
    background-color: navajowhite;
    margin: 10px;
    padding: 20px;
    width: 35%;
    height: 400px;
    box-shadow: 5px 5px 10px dimgray;
    float: left;
}

#prawe
{
    float: left;
}

nav
{
    width: 50%;
    height: 50px;
}

#prawa
{
    width: 50%;
    height: 420px;
    overflow: auto;
}

input, button
{
    margin-top: 20px;
}

li
{
    display: inline-block;
}

img
{
    width: 10%;
    float: left;
}

a
{
    color: sienna;
    margin-right: 30px;
}

a:hover
{
    background-color: #4C1900;
}

footer
{
    clear: both;
}