*
{
    font-family: Verdana;
}

#baner1, #baner2
{
    background-color:  seagreen;
    color: white;
    line-height: 150px;
    height: 260px;
    font-size: 160%;
    float: left;
}

#baner1
{
    width: 75%;
}

#baner2
{
    width: 25%;
    text-align: right;
}

#glowny
{
    background-color: mintcream;
    padding: 80px;
    clear: both;
}

#footer1, #footer2
{
    background-color: seagreen;
    color:  white;
    width: 50%;
    height: 70px;
    text-align: center;
    float: left;
}

button, input[type="text"]
{
    margin-bottom: 20px;
}

img
{
    box-shadow: 15px 15px 10px dimgray;
}

a
{
    text-decoration: none;
    background-color: mintcream;
    color: seagreen;
    padding: 15px;
    line-height: 70px;
}